body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
  text-align: center;
  font-size: 62.5%;
  background-color: #ced4da;

}

h1{
  font-size: 2rem;
}

.head-con{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}

.input{
  width: 4rem;
  font-size: inherit;
  padding-left: 0.5rem;
  border: none;
  border-radius: 5px;
}

button{
  font-size: 1rem;
  background-color: #9a031e;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover{
  background-color: #d30a2f;
}

.paragraph{
  margin-top: 5rem;
  font-size: 1rem;
  color: #495057;
}
